# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Flask instance folder
instance/
*.sqlite3

# Logs
*.log
*.out

# Audio / video downloads
downloads/
tts_audio/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
